@font-face {
  font-family: "irancel";
  src: url("../Fonts/ایرانسل\ .ttf");
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: irancel;
  direction: rtl;
  background-color: #485460;
}

.header {
  /* width: 100vw;
  height: 100vh; */
}

/* .parent{
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
} */

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo img {
  width: 50px;
  height: 50px;
  z-index: 10;
}

.logo span {
  color: #3a3434;
  font-size: 1.5em;
  font-weight: 900;
}

.Hedear-Nav {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.Hedear-Nav li a {
  color: white;
  font-weight: 700;
  font-size: 1.5em;
}

.parent {
  padding: 20px 0px;
}
